.add-comment {
    background: whitesmoke;
    width: 60%;
    margin-bottom: 5%;
    /* border-top: 1px solid black; */
    text-align: center;
}

.add-comment-login {
    background: whitesmoke;
    padding: 1%;
    color: rgb(193, 0, 46);
    font-weight: bold;
}

.post-comment-box {
    margin-top: 1%;
}

.add-a-comment-title {
    font-size: 20px;
}

.post-btn {
    background: rgba(78, 78, 78, 0.4);
    padding: 8px;
    padding-left: 4%;
    padding-right: 4%;
    border-radius: 30px;
    margin-top: 1%;
    color: rgb(193, 0, 46);
    font-weight: bold;
    border: 1px solid rgb(78, 78, 78);
}