.App {
  text-align: center;
}

.App-header {
  background: lightpink;
  height: 60px;
  padding: 20px;
  color: white;
  line-height: 5px
}

.App-title {
  font-size: 1.5em;
}

img {
  max-width: 50vw
}
/* 

@media all and (max-width: 500px) { 
  .App-title {
    font-size: 20px;
  }
}

@media all and (max-width: 400px) { 
  .App-title {
    font-size: 16px;
  }
}

.App-intro {
  font-size: large;
}

.article-pic {
  max-width: 40%;
}

.login {
  color: rgb(51, 142, 172);
  font-size: 18px;
  font-weight: bolder;
}

.logged-in {
  color: green
}

.select {
  background: rgb(208, 192, 250);
  padding: 5px;
  border-radius: 30px;
  color: rgb(40, 3, 82)
}

.select:hover {
  background: pink;
}

.posted-by {
  color: rgb(51, 142, 172);
  font-size: 16px;
  font-weight: bold;
}

.error {
  color: rgb(76, 77, 77);
  font-style: bold;
}

.emoji {
  max-width: 30%
}

.user-avatar {
  max-width: 20%
}

.dropbtn {
  background-color: lightpink;
  color: rgb(66, 66, 66);
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transform: translateX(-30%)
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: pink;
}


textarea[type="text"] {
  border: solid 1px lightpink;
}

.selector {
  background: white;
  padding: 2px;
  margin-bottom: 5px;
  width: 100%;
  color: rgb(37, 37, 37);
  border: solid 1px lightpink;
}

.postarticle-submit {
  background: lightpink;
  padding: 6px;
  border-radius: 30px;
  color: rgb(37, 37, 37);
  border: none;
}

.postarticle-submit:hover {
  cursor: pointer;
} */