/* .article-title {
    color: rgb(76, 77, 77);
     font-weight: bolder;
     max-width: 65%;
     margin: 0 auto 0 auto;
     padding-top: 40px;
     font-size: 30px
}
  
.article-body {
    font-size: 18px;
    font-weight: lighter;
    color: rgb(51, 142, 172);
    max-width: 40%;
    margin: 0 auto 0 auto;
} 

.comment-headings {
    color: rgb(76, 77, 77)
}

.vote-button {
    background-color: white;
    border: none;
    font-size: 16px;
} */
