.ArticleList {
    display: flex;
    flex-flow: row wrap;
    margin: 1%;
    justify-content: center;
}

.each-article {
    width: 30%;
    /* border: 1px solid gray; */
    margin: 1%;
    background: whitesmoke;
    border-radius: 2%;
}

.article-content {
    margin: 3%;
    text-align: center;
}

.article-pic {
    max-width: 50%;
}

.article-title {
    margin-left: 3%;
    font-size: 16px;
    color: rgb(193, 0, 46);
    font-style: bolder;
}

.article-title:hover {
    text-decoration: underline;
}

a {
    text-decoration: none; 
    color: black;
}

.textSnippet {
    font-style: italic;
    font-size: 13px;
}

.username {
    margin-right: 5%;
    font-size: 15px;
    color: rgb(193, 0, 46)
}

.user {
    /* font-style: italic; */
    font-weight: bold
}
.user:hover {
    text-decoration: underline;
    cursor: pointer;
}